<!--div class="container-fluid">
    <form [formGroup]="defineSizeForm" (ngSubmit)="createBoard()">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="height">Height</span>
            <input type="number" formControlName="height" class="form-control"
             aria-label="height" aria-describedby="height" required min="1">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="width">Width</span>
            <input type="number" formControlName="width" class="form-control"
             aria-label="width" aria-describedby="width" required min="1">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
          <button type="submit" class="btn btn-dark" >Define Board Size</button>
          </div>
        </div>
      </div>
    </form>
    </div-->