
/*TODO: this need to be in board and hints*/
#cell {
  width: 30px;
  height: 30px;
  text-overflow: ellipsis;
  display: table-cell;
  background-size: 30px 30px;
  font-size: 15px;
  text-align: center;
}

/*TODO: this need to be in board and hints*/
table.table {
  margin:0rem;
  width: fit-content;
}

.winner {
  background-color: green;
}

.game {
  background-color: red;
}

