
<form [formGroup]="defineSizeForm" (ngSubmit)="StartGame()">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="height">Height</span>
        <input type="number" formControlName="height" class="form-control"
         aria-label="height" aria-describedby="height" required>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="width">Width</span>
        <input type="number" formControlName="width" class="form-control"
         aria-label="width" aria-describedby="width" required>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
      <button type="submit" class="btn btn-dark" >play!</button>
      </div>
    </div>
  </div>
</form>

<div id="game" class="container">
  <div class="d-flex justify-content-center">
  <!--div class="row row-cols-2">
    <div class="col p-0"></div>
    <div class="col p-0"-->
      <table id="columnGroup" class="table table-bordered border border-dark">
      <tr *ngFor="let line of createRange(calculateMaxArray(columnGroups)); index as i" class="border border-dark">
        <td *ngFor="let row of createRange(width); index as j"
         class="border border-dark">
        {{columnGroups[j][i]}}
        </td>
      </tr>
    </table>
    <!--/div-->
    <!--div class="col p-0"-->
      <table id="rowGroup" class="table table-bordered border border-dark">
      <tr *ngFor="let line of createRange(height); index as i" class="border border-dark">
        <td *ngFor="let row of createRange(calculateMaxArray(rowGroups)); index as j"
         class="border border-dark">
         {{rowGroups[i][j]}}
        </td>
      </tr>
    </table>
    <!--div-->
    <!--div class="col p-0"--> <app-board [width]="width" [height]="height"></app-board></div>
  </div>

