.empty {
  background-color: white;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url(../../../assets/x.svg);
  background-size: 30px 30px;
}

.black {
  background-color: black;
}

td {
  width: 30px;
  height: 30px;
  text-overflow: ellipsis;
  display: table-cell;
  background-size: 30px 30px;
  font-size: 15px;
  text-align: center;
}


table {
  margin: 0px;
  padding: 0px;
  margin-bottom: 0rem;
  width: fit-content;
  height: fit-content;
}