<div *ngIf="auth.isLoggedIn()" class="row m-2">
    <div class="col-sm-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Play a Puzzle!</h5>
                <p class="card-text">Play a Nonogram puzzle designed by a fellow player</p>
                <a routerLink="/play" class="btn btn-dark">SOLVE!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create a Puzzle!</h5>
                <p class="card-text">Create your own puzzle board to share with everyone</p>
                <a routerLink="/create" class="btn btn-dark">CREATE!</a>
            </div>
        </div>
    </div>
</div>
<div class="row m-2">

<div class="col d-flex justify-content-center"> 
<img src="../../../assets/Paint_by_numbers_animation.gif" style="width:auto">
</div>
<div class="col">
    <b>Nonograms</b> are a Japanese logic puzzle with simple rules and challenging solutions.
<br>
<br>
The rules are simple:
<br>
You have a grid of squares, which must be either filled in black or marked with X. Beside each row of the grid are listed the lengths of the runs of black squares on that row. Above each column are listed the lengths of the runs of black squares in that column. Your aim is to find all black squares in order to discover the picture.
Left click on a square to make it black. Click again to mark with X. 
</div>
</div>  
<div *ngIf="!auth.isLoggedIn()" class="d-flex justify-content-center">
    <button type="button" class="btn btn-dark btn-default m-1" (click)="this.redirectToRegister()" >I want to play!</button>
    <button type="button" class="btn btn-dark btn-default m-1" (click)="this.redirectToLogin()" >Already have an account?</button>
</div>
