<div class="row m-2">
    <div class="col-sm-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Play a Puzzle!</h5>
                <p class="card-text">Play a Nonogram puzzle designed by a fellow player</p>
                <a routerLink="/play" class="btn btn-dark">SOLVE!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create a Puzzle!</h5>
                <p class="card-text">Create your own puzzle board to share with everyone</p>
                <a routerLink="/create" class="btn btn-dark">CREATE!</a>
            </div>
        </div>
    </div>
</div>
