<div class="row">
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Play a Game!</h5>
        <p class="card-text">Play a Nonogram game designed by a fellow player</p>
        <a routerLink="/play" class="btn btn-dark">PLAY!</a>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">Create a Game!</h5>
        <p class="card-text">Create your own game board to share with everyone</p>
        <a routerLink="/create" class="btn btn-dark">CREATE!</a>
        </div>
    </div>
    </div>
</div>

<!--TODO: play with grid layout-->